* {
  margin: 0;
  padding: 0; }

header .letra {
  text-align: left;
  margin-left: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 170px;
  opacity: 70%; }

header .nav {
  text-align: left; }
  header .nav .menu {
    display: flex;
    font-size: 1rem;
    list-style-type: none;
    margin-top: 5px;
    justify-content: space-between; }
    header .nav .menu .li {
      display: inline-block;
      text-align: left;
      margin: 0.7rem;
      padding: 0.7rem; }
      header .nav .menu .li:hover {
        color: antiquewhite;
        background-color: beige;
        border-radius: 20%; }
        header .nav .menu .li:hover .a {
          text-decoration: none;
          display: inline-block;
          color: black; }

main .nombre {
  position: absolute;
  font-size: 120px;
  top: 400px;
  left: 40px;
  font-family: 'Nunito', sans-serif; }

main .contenedor {
  margin: 5px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 100px;
  grid-template-areas: "caja1 caja1" "cajaz cajaz";
  gap: 10px; }
  main .contenedor .contenedorhijo {
    width: 100%;
    border-radius: 3px;
    text-align: center; }
    main .contenedor .contenedorhijo .cajax {
      background-color: #367d8d;
      grid-area: cajax; }
    main .contenedor .contenedorhijo .caja1 {
      background-color: #afa1ff;
      grid-area: caja1; }
    main .contenedor .contenedorhijo .cajaz {
      background-color: #2421f9;
      grid-area: cajaz; }

@media (max-width: 700px) {
  .menu {
    display: block; }
    .menu li {
      display: block;
      text-align: left;
      margin: 0.7rem;
      padding: 0.1rem; } }
