
    .contenedordos{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        ;
        
         }  
    
    
        .uno{
            background-color: rgb(238, 191, 97);
            grid-area: uno;
           
        }
    
        .dos{
            background-color: rgb(184, 131, 34);
            grid-area: dos;
            }
        
        .tres{
                background-color: rgb(245, 139, 10);
                grid-area: tres;
                }
        
        .cuatro{
            background-color: rgb(62, 150, 40);
            grid-area: cuatro;
        }
        
        
        .cinco{
            background-color: rgb(134, 164, 84);
            grid-area: cinco;
        }
  


    .contenedortres{
            width: 100%;
            display: grid;
            grid-template-areas: 
            "seis"
            "siete"
            "ocho"
            "nueve"
            "diez"
            ;
            
            }  
        
        
            .seis{
                background-color: rgb(210, 210, 233);
                grid-area: seis;
               
            }
        
            .siete{
                background-color: rgb(179, 175, 175);
                grid-area: siete;
            }
            
            .ocho{
                    background-color: rgb(76, 76, 169);
                    grid-area: ocho;
            }

            .nueve{
                background-color: rgb(123, 176, 199);
                grid-area: nueve;
            }

             .diez{
            background-color: rgb(124, 176, 20);
            grid-area: diez;
            }       


    .contenedorcuatro{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "once"
    "doce"
    "trece"
    "catorce"
    "quince"
    ;
                
    }  