*{
    margin:0;
    padding:0;
 }  


/* body{
     background color: white;
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 50%; 
} */


.letra{
    text-align: left;
    margin-left: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 170px;
    opacity: 70%;
}


    main{
    width: 100%;
    height: 100%;
    }
  

    nav{
    text-align: center;
    }
    
    .menu{ 
        display: flex;
        font-size: 1rem;
        list-style-type: none;
        margin-top: 5px;
        justify-content: space-between;
    }
    
    
    .menu li{ 
        display: inline-block;
        text-align: left;
        margin: 0.7rem;
        padding: 0.7rem; 
    
    }
     
    .menu li a{
        text-decoration: none;
        display: inline-block;
        color: rgb(0, 0, 0);
    }
    
    .menu li:hover{
        color: antiquewhite;
        background-color: beige;
        border-radius: 20%
    }


    .contenedor{
    margin: 5px auto;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 300px 3fr 1fr;
    grid-template-areas: 
    "cajax   cajax  cajax "
    "caja1   caja1  caja2"
    "cajaz   cajaz  cajaz";
    gap: 10px;
    
     }  

    .contenedorhijo{
    width: 100%;
    border-radius: 3px;
    text-align: center;
}


    .cajax{
        background-color: rgb(181, 241, 255);
        grid-area: cajax;
}
    .parrafo1{
        padding: 0;
        margin: 15px;
        text-align: left;
        font-family: 'Roboto Mono', monospace;
        font-size: medium;
    }

    .caja1{
        background-color: rgb(205, 196, 255);
        grid-area: caja1;
        border-bottom-left-radius: 3px;

    }
    .titulo1{
        text-align: left;
        font-size: 120px;
        font-family: 'Nunito Sans', sans-serif;;
        margin: 15px;
    }

    .contenedorflex{
       display: flex;
       flex-wrap: nowrap;
       padding-top: 5px;

    }

    .flexitem{
      width:200px;
      height: 50px;
      background-color:greenyellow; 
      margin: 1rem;
       
    }


    .articulo2{
        font-family: 'Roboto Mono', monospace;
        font-size: larger;
        text-align: right;
        margin: 15px;
        overflow: auto;
    }

    
    .caja2{
        background-color: rgb(221, 215, 255);
        grid-area: caja2;
     }

    
    .tran1{
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        transition: all 2s ease;
        align-content: center;
        margin-top: 30px;
    }

    .tran1:hover{
         background-color: rgb(181, 241, 255);
         height: 100px;
    
         transform: scale(1.1, 1.1);
         border-radius: 50%;
        }

        .tran2{
            width: 100px;
            height: 100px;
            background-color: aquamarine;
            transition: all 2s ease;
            align-content: center;
        }
    
        .tran2:hover{
             background-color: rgb(181, 241, 255);
             height: 100px;
        
             transform: scale(1.1, 1.1);
             border-radius: 50%;
            }    
        
        .tran3{
                width: 100px;
                height: 100px;
                background-color: aquamarine;
                transition: all 2s ease;
                align-content: center;
            }
        
            .tran3:hover{
                 background-color: rgb(181, 241, 255);
                 height: 100px;
            
                 transform: scale(1.1, 1.1);
                 border-radius: 50%;
                }      
    
    .cajaz{
        background-color: rgb(174, 235, 243);
        grid-area: cajaz;
    }
    
    @media (max-width:1080px)
    {
    .contenedor{
    grid-template-columns: 400px;
    grid-template-rows: 100px 2fr 1fr 1fr;
    grid-template-areas:
    "cajax"
    "caja1"
    "caja2"
    "cajaz";
    gap: 3px;
     } 

     .menu{ 
        display: block;
    }
    
    
    .menu li{ 
        display:block;
        text-align: left;
        margin: 0.7rem;
        padding: 0.1rem; 
    
    }

    .titulo1{
        font-size: 60px;
        margin: 15px;
    }

    .contenedorflex{
    
        padding-top: 5px;
 
     }

    .articulo{
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        text-align: left;
        margin: 15px;

    }  
    .articulo2{
        font-size: small;
        text-align: left;
        margin: 15px;
       
    }


    
    }

    .contenedordos{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        ;
        
         }  
    
    
        .uno{
            background-color: rgb(238, 191, 97);
            grid-area: uno;
           
        }
    
        .dos{
            background-color: rgb(184, 131, 34);
            grid-area: dos;
            }
        
        .tres{
                background-color: rgb(245, 139, 10);
                grid-area: tres;
                }
        
        .cuatro{
            background-color: rgb(62, 150, 40);
            grid-area: cuatro;
        }
        
        
        .cinco{
            background-color: rgb(134, 164, 84);
            grid-area: cinco;
        }
  


    .contenedortres{
            width: 100%;
            display: grid;
            grid-template-areas: 
            "seis"
            "siete"
            "ocho"
            "nueve"
            "diez"
            ;
            
            }  
        
        
            .seis{
                background-color: rgb(210, 210, 233);
                grid-area: seis;
               
            }
        
            .siete{
                background-color: rgb(179, 175, 175);
                grid-area: siete;
            }
            
            .ocho{
                    background-color: rgb(76, 76, 169);
                    grid-area: ocho;
            }

            .nueve{
                background-color: rgb(123, 176, 199);
                grid-area: nueve;
            }

             .diez{
            background-color: rgb(124, 176, 20);
            grid-area: diez;
            }       


    .contenedorcuatro{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "once"
    "doce"
    "trece"
    "catorce"
    "quince"
    ;
                
    }  
            

    .once{
    background-color: rgb(138, 14, 70);
    grid-area: once;
                   
    }

              
            
    .doce{
    background-color: rgb(20, 1, 20);
    grid-area: doce;
    }
                
    .trece{
    background-color: rgb(155, 116, 16);
    grid-area: trece;
    }
                
    .catorce{
    background-color: rgb(220, 207, 162);
    grid-area: catorce;
    }
                
                
    .quince{
    background-color: rgb(204, 203, 203);
    grid-area: quince;
    }

    .container{
    align-content: center;

}
 
    .contacto{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: center;
}
    .col{
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
}

