header{
    .letra{
        text-align: left;
        margin-left: 1rem;
        font-family: 'Nunito', sans-serif;
        font-size: 170px;
        opacity: 70%;
    }
    .nav{
        text-align: left;
        .menu{ 
            display: flex;
            font-size: 1rem;
            list-style-type: none;
            margin-top: 5px;
            justify-content: space-between;
            .li{ 
                display: inline-block;
                text-align: left;
                margin: 0.7rem;
                padding: 0.7rem; 
                &:hover{
                    color: antiquewhite;
                    background-color: beige;
                    border-radius: 20%;
                    .a{
                        text-decoration: none;
                        display: inline-block;
                        color: rgb(0, 0, 0);
                    }
                }
            
            }
        }
    
    }
}    