main{
    .nombre{
        position: absolute;
        font-size: 120px;
        top: 400px;
        left: 40px;
        font-family: 'Nunito', sans-serif;
    }
    .contenedor{
        margin: 5px auto;
        width: 100%;
        display: grid;
        grid-template-columns:100px 1fr;
        grid-template-rows: 100px 100px;
        grid-template-areas: 
        "caja1 caja1"
        "cajaz cajaz";
        gap: 10px;
        .contenedorhijo{
            width: 100%;
            border-radius: 3px;
            text-align: center;
            .cajax{
                background-color: rgb(54, 125, 141);
                grid-area: cajax;
        }
        
            .caja1{
                background-color: rgb(175, 161, 255);
                grid-area: caja1;
        }

             
        .cajaz{
            background-color: rgb(36, 33, 249);
            grid-area: cajaz;
        }
        
    }
        
}
}