@import header
@import main


*{
    margin:0;
    padding:0;
 }  

@media (max-width:700px)
{
    .menu{ 
        display: block;
        li{ 
            display:block;
            text-align: left;
            margin: 0.7rem;
            padding: 0.1rem; 
        
        }
    }
}    